<div class="tweet-box">
    <div class="profile_pic">
        <img ng-src={{tweetObj.user.profile_image_url_https}}>
    </div>
    <div class="tweet-text">
        <p>{{tweetObj.user.name}} @{{tweetObj.user.screen_name}} - {{timeString}}</p>
        <p ng-bind-html="tweetText"></p>
        <div class="tweet-btns">
            <!-- <span class="fa fa-reply"></span> -->
            <span ng-click="send_retweet(tweet_id)" ng-hide="retweeted" class="fa fa-retweet"></span>
            <span ng-show="retweeted" class="fa fa-retweet clicked">{{retweet_count}}</span>
            <span ng-click="send_favorite(tweet_id)" ng-hide="favorited" class="fa fa-star"></span>
            <span ng-show="favorited" class="fa fa-star clicked">{{favorite_count}}</span>
        </div>
    </div>

</div>
